<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login</h1>
<form action="#" th:action="@{/dologin}" th:object="${user}" method="post">
    <table border="1">
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" id="email" name="email" th:value="${cookieValue.value}"></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" th:field="*{password}"></td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
<br>
<br>
<span th:text="${message}"></span>
<span th:text="${'user: '+user.email}"></span>
<span th:text="${'password: '+user.password}"></span>
</body>
</html>