<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/products/create}">
        Add new Product
    </a>
</p>

<table id="products">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Publish</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${rowStat.index+1}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.description}"></td>
        <td th:text="${row.publish}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${row.id})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${row.id})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${row.id})}">view</a></td>
    </tr>
    </tbody>
</table>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>