<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Create</title>
</head>
<body>
<div align="center">
    <h1>Create New Product</h1>
    <form action="#" th:action="@{/category/save}" method="post" th:object="${category}">
        <table border="0" cellpadding="10">
            <tr>
                <td>Category Name:</td>
                <td>
                    <input type="text" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>Category url:</td>
                <td>
                    <input type="text" th:field="*{url}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>