<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete blog</title>
</head>
<body>
<h1>Delete blog</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/">Blog list</a>
</p>
<form th:action="@{/delete}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Topic:</td>
            <td th:text="${blog.topic}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td th:text="${blog.content}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete blog"></td>
        </tr>
    </table>
</form>
</body>
</html>
© 2021 GitHub, Inc.