<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello guys</h1>
<table>
    <thead>
    <tr>
        <th>Product Id</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productPage.content}" id="products" class="success">
        <td class="productname" th:text="${product.name}"></td>
        <td th:text="${product.category.id}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.createAt}"></td>
        <td th:text="'$' + ${product.price}"></td>
        <td>
            <a th:href="@{products/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete</a>
            <a th:href="@{products/edit/{id}(id=${product.id})}" class="btn btn-primary">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>