<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-blog">Create new Blog</a>
<h1 class="text-center my-3">Blog List</h1>

<table>
    <thead>
    <tr>
        <th class="align-middle">ID</th>
        <th class="align-middle">Title
            <span th:if="${order=='desc'}">
                    <a th:if="${key}" th:href="@{/(key=${key}, order='asc')}"><i class="fas fa-sort-alpha-down"></i></a>
                    <a th:unless="${key}" th:href="@{/(order='asc')}"><i class="fas fa-sort-alpha-down"></i></a>
                </span>
            <span th:unless="${order=='desc'}">
                    <a th:if="${key}" th:href="@{/(key=${key}, order='desc')}"><i class="fas fa-sort-alpha-down-alt"></i></a>
                    <a th:unless="${key}" th:href="@{/(order='desc')}"><i class="fas fa-sort-alpha-down-alt"></i></a>
                </span>
        </th>
        <th class="align-middle">Date</th>
        <th class="align-middle">Category</th>
        <th class="align-middle">
            <a class="btn btn-success" th:href="@{/blog/create}"><i class="far fa-plus-square"></i></a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,iterStat : ${blogs}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.topic}"></td>
        <td class="align-middle" th:text="${blog.content}"></td>
        <td>
            <a class="btn btn-info" th:href="@{/blog/view(id=${blog.id})}"><i class="far fa-eye"></i></a><br>
            <a class="btn btn-warning" th:href="@{/blog/edit(id=${blog.id})}"><i class="far fa-edit"></i></a><br>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                    th:onclick="|parseId('${blog.id}')|">
                <i class="fas fa-ban"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>