<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory homepage</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand h3" href="/">Sang Le</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link h3" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h3" th:href="@{/categories}">List category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h3" th:href="@{categories/new}">Create category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h3" th:href="@{/products}">List product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h3" th:href="@{/products/new}">Create product</a>
                </li>
            </ul>
        </div>
    </nav>

</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>