<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List categories homepage</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand h3" href="/">Sang Le</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link h3" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h3" th:href="@{/categories}">List category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h3" th:href="@{categories/new}">Create category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h3" th:href="@{/products}">List category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h3" th:href="@{products/new}">Create category</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <h1 class="h1 text-center">List categories</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">price</th>
                <th scope="col">category</th>
                <th scope="col" class="text-center" colspan="2">action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product: ${products}">
                <td scope="row" th:text="${product.id}"></td>
                <td scope="row" th:text="${product.name}"></td>
                <td scope="row" th:text="${product.price}"></td>
                <td scope="row" th:text="${product.category.getName()}"></td>
                <td scope="row">
                    <a  class="btn btn-warning text-muted" th:href="@{'/products/edit/'+ ${product.id}}">edit</a>
                </td>
                <td scope="row">
                    <a  class="btn btn-danger text-muted" th:href="@{'/products/delete/'+ ${product.id}}">delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>