<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: *{products.}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{'/view/'+${product.id}}">View</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>