<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <form th:action="@{/view}" method="post">
                <input type="hidden" th:value="${product.id}" name="id">
                <button type="submit">Add to cart</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>